{% extends "_layouts/cp" %}
{% set centered = true %}
{% set title = "Redirect Manager"|t %}

{% set redirects = craft.redirectmanager.getAllRedirects %}

{% set tabLabel = "Home"|t %}
{% set tabs = {
		home: { label: "Home"|t, url: url('redirectmanager') },
		newEdit: { label: "New/Edit"|t, url: url('redirectmanager/new') },
		import: {label: "Import"|t, url: url('redirectmanager/import') }
	}
%}

{% set selectedTab = 'home' %}

{% set content %}

	<form method="post" action="" accept-charset="UTF-8">
		<input type="hidden" name="action" value="redirectmanager/deleteAll" />
		<input type="hidden" name="redirect" value="redirectmanager" />
		<div class="buttons">
			<input type="submit" class="btn submit" value="{{ 'Delete All'|t }}">
		</div>
	</form>

	<p id="noredirects"{% if redirects|length %} class="hidden"{% endif %}>
		{{ "No redirects exist yet."|t }}
	</p>

	{% if redirects|length %}
		<table id="redirects" class="data">
			<thead>
				<th scope="col">{{ "URI to Match"|t }}</th>
				<th scope="col">{{ "Redirect To"|t }}</th>
				<td scope="col">{{ "Type"|t }}</th>
				<td scope="col"> {{ "Redirect Time"|t }}</th>
				<th class="thin"></th>
			</thead>
			<tbody>

				{% for redirect in redirects %}
					<tr data-id="{{ redirect.id }}" data-name="{{ redirect.uri }}">
						<td><a href="{{ url('redirectmanager/'~redirect.id) }}">{{ redirect.uri }}</a></td>
						<td>{{ redirect.location }}</td>
						<td>{{ redirect.type }}</td>
						{% set redirectTime = redirect.redirectTime == 'pre404' ? 'Pre-404' : 'Post-404' %}
						<td> {{ redirectTime }} </td>
						<td><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	{% endif %}

{% endset %}

{% set js %}
	new Craft.AdminTable({
		tableSelector: '#redirects',
		noObjectsSelector: '#noredirects',
		deleteAction: 'redirectmanager/deleteRedirect'
	});
{% endset %}
{% includeJs js %}
